td {
    border: 1px solid #bebebe;
}

table {
    border: 1px solid #000;
    border-spacing: 0;
}

tbody {
    text-align: center;
}



td {
    width: 200px;
    padding: 2px;
    box-sizing: border-box;
    height: 40px;
}

tr:nth-last-child(1) {
    font-weight: 600;
    cursor: pointer;
}