@import "vars";

body {
    min-width: 414px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f2f4f8;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

ul, p {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    &:focus {
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
}

.container {
    max-width: 970px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container-main {
    max-width: 970px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    &:hover {
        outline: none;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        -webkit-tap-highlight-color: transparent;
    }
}

h1 {
    padding: 4vh 0 2.5vh 4vh;
    margin: 0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    span {
        margin-left: 4vh;
        border-bottom: 1px dashed;
    }
}

